<h2>Replace Vowels with Dash!</h2>

<p>Create a word puzzle for someone to solve! Enter a word and all vowels will be replaced with dashes.</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="userInput">Enter any sentence</label>
    <input id="userInput" name="userInput" class="form-control" type="text" required="">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>

</form>
